@import "tailwindcss";

/* === FONT FACES === */
@layer base {
  @font-face {
    font-family: "satoshi-bold";
    src: url("/fonts/Satoshi-bold.woff") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "satoshi";
    src: url("/fonts/Satoshi-Regular.woff") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "poppins";
    src: url("/fonts/Poppins-Regular.woff") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "zentry";
    src: url("/public/fonts/zentry-regular.woff2") format("woff2");
    font-display: swap;
  }
}

/* === THEME VARIABLES === */
:root {
  --font-satoshi: "satoshi", sans-serif;
  --font-poppins: "poppins", sans-serif;

  --text-14: 14px;

  --color-main-bg: #fafbfb;
  --color-main-dark-bg: #20232a;
  --color-secondary-dark-bg: #33373e;
  --color-light-gray: #f7f7f7;
  --color-half-transparent: rgba(0, 0, 0, 0.5);

  --border-1: 1px;
  --border-color: rgba(0, 0, 0, 0.1);

  --w-400: 400px;
  --w-760: 760px;
  --w-780: 780px;
  --w-800: 800px;
  --w-1000: 1000px;
  --w-1200: 1200px;
  --w-1400: 1400px;

  --h-80: 80px;
  --min-h-590: 590px;

  --bg-logo: url("/src/assets/logo/SHOP.CO.svg");
  /* Use optimized WebP assets for backgrounds */
  --bg-banner: url("/src/assets/logo/banner-1200.webp");
  --bg-casual-desktop: url("/src/assets/items/casual-1200.webp");
  --bg-casual-mobile: url("/src/assets/items/casual-600.webp");
  --bg-party-desktop: url("/src/assets/items/party-1200.webp");
  --bg-party-mobile: url("/src/assets/items/party-600.webp");
  --bg-gym-desktop: url("/src/assets/items/gym-1200.webp");
  --bg-gym-mobile: url("/src/assets/items/gym-600.webp");
  --bg-formal-desktop: url("/src/assets/items/formal-1200.webp");
  --bg-formal-mobile: url("/src/assets/items/formal-600.webp");
  /* --bg-footer-logo: url("/src/assets/logo/SHOP.CO.SVG"); */
}

/* tailwind.css or global.css */
@layer utilities {
  /* Casual */
  .bg-casual-mobile {
    background-image: var(--bg-casual-mobile);
  }
  @media (min-width: 1024px) {
    .lg\:bg-casual-desktop {
      background-image: var(--bg-casual-desktop);
    }
  }

  /* Party */
  .bg-party-mobile {
    background-image: var(--bg-party-mobile);
  }
  @media (min-width: 1024px) {
    .lg\:bg-party-desktop {
      background-image: var(--bg-party-desktop);
    }
  }

  /* Gym */
  .bg-gym-mobile {
    background-image: var(--bg-gym-mobile);
  }
  @media (min-width: 1024px) {
    .lg\:bg-gym-desktop {
      background-image: var(--bg-gym-desktop);
    }
  }

  /* Formal */
  .bg-formal-mobile {
    background-image: var(--bg-formal-mobile);
  }
  @media (min-width: 1024px) {
    .lg\:bg-formal-desktop {
      background-image: var(--bg-formal-desktop);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "satoshi", sans-serif;
}
